.encabezado {
    width: 100%;
    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.4rem 1rem;

    background: var(--p-surface-0);
    border-radius: 8px;

    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

    margin-bottom: 10px;

    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

.encabezado-contenido {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.encabezado-icono {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background: rgb(37, 44, 50);
    color: #ffffff;

    flex-shrink: 0;
}

.encabezado-icono i {
    font-size: 1.2rem;
}

.encabezado-texto h1 {
    margin: 0;
    color: var(--p-surface-900);
    font-size: 1.3rem;
    font-weight: 500;
}

.encabezado-texto p {
    margin: 0.35rem 0 0;
    color: var(--p-surface-600);
    font-size: 0.95rem;
}

.encabezado-acciones {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* MODO OSCURO */
.app-dark .encabezado {
    background: #111827;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
}

.app-dark .encabezado-texto h1 {
    color: #f8fafc;
}

.app-dark .encabezado-texto p {
    color: #94a3b8;
}

.app-dark .encabezado-icono {
    background: rgb(106, 196, 202);
    color: rgb(37, 44, 50);
}